<nav class="navbar bottom navbar-light bg-faded">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Company</a></li>
      <li class="nav-item"><a class="nav-link" href="about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Careers</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
  </ul>
</nav>
