<h1>Make your own Pizza</h1>

<form class="form-horizontal" action="/orderconfirmation" method="post" id="make-pizza-form">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="pizza-size">Select your pizza's size</label>
      <div class="col-md-6">
        <select id="pizza-size" name="size" class="form-control">
          <option>Personal</option>
          <option>Medium</option>
          <option>Large</option>
          <option>Extra Large</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="pizza-crust">Select your pizza's crust</label>
      <div class="col-md-6">
        <select id="pizza-crust" name="crust" class="form-control">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="pizza-cheese">Select your pizza's cheese</label>
      <div class="col-md-6">
        <select id="pizza-cheese" name="cheese" class="form-control">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="pizza-sauce">Select your pizza's sauce</label>
      <div class="col-md-6">
        <select id="pizza-sauce" name="sauce" class="form-control">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="pizza-topping">Select your pizza's topping</label>
      <div class="col-md-6">
        <select id="pizza-topping" class="form-control">
        </select>
        <input type="hidden" id="toppings" name="toppings" />
        <div id="topping-container">
        </div>

      </div>
    </div>
  </fieldset>

  <!-- <fieldset>
    <legend>Personal Info</legend>
    <div class="form-group">
      <label class="col-md-2 control-label" for="name">Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="Jose Perez">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="address">Address</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="address" placeholder="calle 13, #857, Mata Hambre">
      </div>
    </div>
  </fieldset> -->
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button id="btnSubmit" type="submit" class="btn btn-primary">Submit Order</button>
    </div>
  </div>
</form>

<div>
  <h3>Price</h3>
  <div>Base Price: $ <span>10.00</span></div>
  <div>Total Price: $ <span id="final-price">10.00</span></div>
</div>

<script src="/static/js/make-pizza.controller.js"></script>
