<div>
  <form id="reorder-form"></form>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <!-- <th>Description</th> -->
      <th>Price</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tbody id="reorder-table">
    </tbody>

  </table>
</div>

<script src="static/js/reorder.controller.js"></script>
