.topbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
.topbar ul>li{
	float: left;
}
.topbar ul>li.right{
	float: right;
}
.topbar li>a{
	display: block;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}
.topbar ul>li>a:hover:not(.active){
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
@media screen and (max-width:600px){
	.topbar ul>li{
		float: none;
	}
	.topbar ul>li.right{
		float: none;
	}
}

.footer {
	position: bottom;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #333;
	text-align: center;
}

.footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: inline-block;
}
.footer ul>li{
	float: left;
}
.footer ul>li.right{
	float: right;
}
.footer li>a{
	display: block;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}
.footer ul>li>a:hover:not(.active){
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
@media screen and (max-width:600px){
	.footer ul>li{
		float: none;
	}
	.footer ul>li.right{
		float: none;
	}
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
		text-align: center;
}

.td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
body{
	color: black;
}

/* About */
.auto-style1 {
	text-align: right;
}
.auto-style2 {
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.auto-style3 {
	background-image: url('../images/sky.png');
}
.auto-style4 {
	background-color: #000066;
}
.auto-style5 {
	background-color: #0066CC;
}
.auto-style6 {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.auto-style7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
}
.auto-style8 {
	color: #FFFFFF;
}
.auto-style9 {
	text-align: left;
}
.auto-style10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
}
.auto-style11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* DOM Tree */
.node-container {
  margin: 8px 0;
}

.node{
  color: white;
  margin: 4px 0;
}

.tree ul {
  list-style: none;
}

.tree li > span {
  color: #FFF;
  border: 2px groove #000;
  padding: 0 8px;
}

.xroot {
  background-color: #9E9E9E;
  color: #FFF;
  border: 2px groove #000;
  padding: 0 8px;
}

.xhtml {
  background-color: #F44336;
}

.xhead, .xbody, .header {
  background-color: #E91E63;
}
.xul {
  background-color: #9C27B0;
}

.xli {
  background-color: #3F51B5;
}

.xa, .xth {
  background-color: #FF5722;
}

.xnav, .xfooter, .xtbody {
  background-color: #FFEB3B;
}

.xsection {
  background-color: #795548;
}

.xdiv, .xspan {
  background-color: #4CAF50;
}

.xtable {
  background-color: #009688;
}

.xtr {
  background-color: #8BC34A;
}

.xtd {
  background-color: #8BC34A;
}

.xh1, .xh2, .xh3, .xh4, .xh5, .xh6, .xmeta, .xtitle, .xlink, .xp, .xscript {
  background-color: #607D8B;
}

.tree {
  padding: 16px;
}
