
<table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%">
	<tr>
		<td class="auto-style1">
		<table cellspacing="0" style="width: 100%; height: 100%">
			<tr>
				<td class="auto-style7">Marzo 28, 2012 | 11:10 am</td>
				<td style="width: 8px">&nbsp;</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="auto-style9" valign="top">
		<table cellspacing="0" style="width: 100%">
			<tr>
				<td style="width: 10px; height: 21px"></td>
				<td style="height: 21px; width: 204px"></td>
				<td style="height: 21px; width: 20px"></td>
				<td style="height: 21px"></td>
				<td style="height: 21px; width: 10px"></td>
			</tr>
			<tr>
				<td style="width: 10px">&nbsp;</td>
				<td style="width: 204px" valign="top">
				<img class="normal" src="static/images/Kyon.png" width="356" height="463"></br>
				<td style="width: 20px">&nbsp;</td>
				<td valign="top"><span class="auto-style10"><strong>John Smith</strong></span><br><br><span class="auto-style11">John Smith "Kion"&nbsp;(nacido un dia de un mes de un año en&nbsp;Santo
				Sabado) es un&nbsp;famoso personaje que ha aparecido en incontables historias. Ha vendido hasta el momento
				más de 30 Millones&nbsp;de libros de auto ayuda en todo el mundo, siendo así uno
				de los principales íconos de la autosuperacion. Smith ha
				ganado&nbsp;18&nbsp;premios, entre ellos 3 de la academia norteamericana de personas interesantes.
				Esto lo convierte en uno de los personajes más reconocidos
				de&nbsp;el mundo mundial&nbsp;y considerado por muchos terapeutas,
				como el mas grande psicologo de todos los tiempos.&nbsp;Su
				estilo propio, una mezcla de&nbsp;reflexion personal,consejos de vida&nbsp;y&nbsp;ejemplos de la vida diaria&nbsp;con
				pensamientos de ayuda al projimo, ha cosechado un éxito considerable. John Smith se asocia a veces con los mas grandes pensadores
				de Europa&nbsp;America&nbsp;y Asia, y aunque esta asociación es en parte
				cierta, realmente utiliza los conceptos básicos de su propia cultura
				mezclándola con el budismo y añadiéndole así más&nbsp;harmonia&nbsp; con el mundo a
				sus&nbsp;enseñansas.3&nbsp;No se limita a una filosofia, en
				cambio, incorpora diversas teorias como el existencialismo, la
				ya-no-se-que-escribir,&nbsp;el chileconpollo&nbsp;e incluso&nbsp;la nomequemeporesto.4&nbsp;Actualmente
				John está bajo la producción de se nuevo libro El Trato.</span></td>
				<td style="width: 10px">&nbsp;</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
		<table cellspacing="0" style="width: 100%">
			<tr>
				<td style="width: 10px">&nbsp;</td>
				<td class="auto-style7">Copyright (r) sueños y cielos. Todos los derechos
				Regalados.<br>Abraham Lincoln es Rómulo Betancourt en cubierto.
				Santo Domingo queda en República Dominicana... Creo + 809-1803-1994<br>
				Contacto del tercer tipo | Sobre el arcoiris | kickback</td>
				<td style="width: 10px">&nbsp;</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<script>
/*
function printTreeElement(element, deep){
	if (element.hasChildNodes()) {
		for (let node of element.childNodes ) {
			printTreeElement(node);
		}
	}
	if (typeof element !== 'undefined' && element) {
		for (var i = 0; i < deep; i++) {
			console.log("\t");
		}

		console.log(element.tagName);
	}
};
printTreeElement(document);
*/
</script>
