<body>
	<div >
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
		<ul>
			<li>mensaje 1</li>
			<li>mensaje 2</li>
			<li>mensaje 3</li>
			<li>mensaje 4</li>
		</ul>
	</div>
	<div id="treeContainer">
	</div>
	<script type="text/javascript" src="static/scripts/DomTreeMaker.js"></script>
</body>
