<nav class="topbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Special Recipes</a></li>
        <li><a href="#">Ingredients</a></li>
        <li class="right"><a href="/asignacion5">Asignacion 5</a></li>
    </ul>
</nav>
